body {
  font-family: sans-serif;
  color: white;
  background-color: #333;
}

a {
  color: white;
}

.inline {
  display: inline-block;
  height: 0.8em;
}

h1, h2, p {
  text-align: center;
  width: 100%;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  height: 100px;
  width: 150px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: table;
  background: #333;
  position: relative;
}

.button.active {
  cursor: pointer;
}

.button.disabled {
  border-color: #888;
}

.button.disabled img {
  opacity: 0.4;
}

.button.highlight {
  background: #888;
  border: 0px;
}

.button > .logo-container {
  height: 100px;
  width: 150px;
  margin: auto;
  vertical-align: middle;
  display: table-cell;
}

.button > .logo-container > img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.actionbutton {
  display: inline-block;
  border: 1px solid white;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.footer-container {
  display: flex;
  width: 100%;
  font-size: smaller;
  align-items: flex-end;
  padding-top: 20px;
}

.footer-container > div {
  flex-basis: 50px;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 10px;
}

.qrcode {
  width: 104px;
  display: block;
  margin: auto;
  background: white;
  color: black;
  padding: 7px;
  text-decoration: none;
}

.qrcode > * {
  display: block;
  margin: auto;
  padding: 2px;
}

#settings-container {
  position:absolute;
  top:0;
  right:0;
  padding: 10px;
  font-size: small;
  text-align: end;
}

.hiddenswitch {
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}